PKG_ID
PKG_NAME
ProductCode
PACKAGE_SERVICELEVEL
package_dept
date_From
date_to
itemid
itemname
itemtype
pricecatid
pricecatname
Addon
Add_Name
Person
KAPTIOTRAVEL__UOM__C
Sell_Price
tax


pkg_id
PKG_NAME
ProductCode
package_servicelevel
package_dept
Single_ALLSELL
Double_ALLSELL
Triple_ALLSELL
Quad_ALLSELL
